

body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol, p,select,table,td,textarea,th,ul
{margin:0; padding:0;}
body,button,input,select,table,textarea{
 font-size: 12px;
 font-family: Dotum,'맑은고딕',Helvetica,"Apple SD Gothic Neo",sans-serif;
}
button,input{  border-radius: 0;}
fieldset,img{border: 0;}
ol,ul{list-style: none;}
address,em{font-style: normal;}
a{text-decoration: none;}
a:hover{text-decoration: none;}


.clearfix{overflow: auto;}
.clearfix:: after {clear: both; display: block; content: "";}

.animateIn{
  opacity: 0;
  transition: opacity 0.5s ease;
}

.animateout{
  opacity: 1;
}



 #hd_wrap{  
   position: fixed;
   top: 0;
   z-index: 100;
   width: 100%
 }

 #header {
   background: #000000;
   opacity: 90%;
   height: 70px;
   width: 100%;
   margin: 0 auto;
 }


 #logo{
   width: 1280PX;
   color: #ffffff;
   font-size: 40px;
   margin: 0 auto 0 auto;
   line-height: 60px;
}


#my{
   color: #ffffff;
   width: 1200px;
   text-align: right;
   margin: 0 auto 0 auto ;
   line-height: 0px;
}






#nav{
  height: 40px;
  width: 100%;
  margin: 0 auto 0 auto;
  background: #f1ece8;
  opacity: 90%;
  border-bottom: 1px solid 3efefef;
  text-align: center;
  transition: height 0.4s;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  overflow: hidden;
 
}


#nav:hover{
  height: 200px;
  opacity: 70%;
  margin: 0 0 0 0 px;
}


.nav_inner{
  color: #000000;
}

.nav_inner > ul > li:hover > a {
 color: #000000;
}

.nav_inner > ul > li:hover > ul {
 display: block;
}


.nav_inner > ul > ul {
 display: none;
 position: absolute;
}

.nav_inner > ul > ul > a {
  text-align: center;
}

.nav_list{
  display: inline-block;
  color: #ffffff;
  width: 100px;
  text-align: center;
  float: left: ;
  line-height: 45px;
}


.nav_lingk:hover{
 font-weight: bolder;
 text-decoration: underline;
}


.nav_list ul li:hover{
   font-weight: bolder;
 text-decoration: underline;
}



.swiper-container {
  width: 1280px;
  height: 570px;
  padding-top: 0px;
  margin: 110px auto;
}



.swiper-slide {
 text-align: center;
  background:none;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;            
  -webkit-align-items: center;
  align-items: center;

  rollingId = setInterval(function() { rollingStart(); }, 3000);
}


/* 
{background: none; color: none; opacity: 0;  }   */

.swiper-button-next ,
.swiper-button-prev {opacity: 0;}
.swiper-button-next.swiper-button-disabled::after,
.swiper-button-prev.swiper-button-disabled::after {opacity: 0;}

/* 
.btns {text-align: center;}
.btns button{ width: 100px; height: 40px; line-height: 40px; background: grey;  color: #000000; border: 1px solid grey;} */


#magazine{
  width: 1280px;
  height: 720px;
  margin: -110px auto 0 auto;
  background: #f1ece8; 
}




#magazine > div > img{
 margin-top: 200px;
 width: 1280px;
  height: 720px;
 opacity: 0;
 -webkit-transition: margin-top 0.8s; opacity: 0.8s;
 transition: margin-top 0.8s; opacity: 0.8s;
}


#magazine > div.on> img{
 margin-top: 10px;
 width: 1280px;
  height: 720px;
 opacity: 1;
}



#content{ 
  background: #f1ece8;  
  width: 1280px;
  height: 570px;
   margin: 0 auto;
}



#magazine > div > img{
  margin-top: 100px;
  width: 1280px;
   height: 720px;
  opacity: 0;
  -webkit-transition: margin-top 0.8s; opacity: 0.8s;
  transition: margin-top 0.8s; opacity: 0.8s;
 }
 
 
 #magazine > div.on> img{
  margin-top: 50px;
  width: 1280px;
   height: 720px;
  opacity: 1;
 }
 


 #content{ 
  background: #f1ece8;  
  width: 1280px;
  height: 570px;
  margin: 0 auto;
 }

 
 #content ul{ 
  width: 1280px;
  margin: 0 auto;
  text-align: center;
 }
 
 
 
 #content ul li{
   width: 350px; 
   height: 260px;
   display: inline-block;
   margin: 0 auto;
   margin: 150px 20px auto 20px;
   overflow: hidden;
 }
 
 
 #content ul li a {
   width: 100%; height:100%;

 }
 
 
 #content ul li  img{
   width: 350px; height: 260px;
    transition: all 0.6s;
    display: block;  
    
 }
  
 
 
  #content ul li  img:hover{
   /* width: 370px; height: auto;
   display: inline-block;   */
   transform: scale(1.2);
     
  }



  .content_textbox{
    text-align: center;
  }


  .content_text{
    width: 350px;
    height: 160px;
    /* background: #727070; */
    display: inline-block;
    margin: 0 20 0 20px;
  }
  

  .p1{
    text-align: left;
    margin: 40 0 0 0px;
    font-size: 14px;
    }


  .p2{
  text-align: left;
  margin: 20 0 0 0px;
  font-size: 22px;
  color: #790000;
  }
  
  
  
 



#footer_box {
    background: #000000; 
    width:100%; 
}


#footer  { 
  background: #000000; 
  height: 150px; width:1280px; 
  margin:0 auto;
  position: relative;
  display: flex;
 }


 .footer_text{
    height: 100px; width:1280px; 
    margin:0 auto 0 auto;
   position: relative;
    display: flex;
    text-align: left;
  
   }


 .footer_logo1{
    color: #ffffff;
    font-size: 40px; 
    margin: 40px 0px 0px 80px;
   }
   
   
   .footer_textleft{
    color: #ffffff;
    font-size: 12px;
    margin: 30 0 0 50px; 
    line-height: 16px;
   }
   
   .footer_number{
     color: #ffffff;
    font-size: 28px; 
    margin: 50 0 0 120px; 
   }
   
   .footer_textright{
    color: #ffffff;
    font-size: 12px;
    margin: 30 0 0 50px; 
    line-height: 16px;
   
   }

 
 
  



/* .footer_link{
color: #ffffff;
font-size: 12px;
} */


#body{background: #e5e0db;}
